<div class="body">

  <h2 class="header">Welcome to My Portfolio</h2>
  <ul class="nav justify-content-end">
    <li class="nav-item">
    <a routerLink="login" class="nav-link"> Login</a>
    </li>
    <li class="nav-item">
        <a routerLink="signup" class="nav-link">Sign Up</a>
    </li>
    <li class="nav-item">
        <a routerLink="portfolio" class="nav-link">Portfolio</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">About Us</a>
    </li>
  </ul>  
  <hr/>  
 
</div>
<div>
  <!--app-login-form></app-login-form-->
  <router-outlet></router-outlet>
</div>